:root {
  --surface-danger: var(--color-red-500, #e53e3e);
  --surface-success: var(--color-green-400, #48bb78);
  --surface-primary: var(--color-blue-500, #3182ce);
  --surface-secondary: var(--color-yellow-500, #d69e2e);
  --surface-warning: var(--color-orange-500, #dd6b20);
  --surface-error: var(--color-red-500, #e53e3e);
  --surface-info: var(--color-cyan-500, #00b5d8);
  --surface-neutral: var(--color-gray-100, #edf2f7);
  --surface-transparent: rgba(255, 255, 255, 0.00);
  --text-danger: var(--color-red-500, #e53e3e);
  --text-success: var(--color-green-400, #48bb78);
  --text-primary: var(--color-blue-500, #3182ce);
  --text-secondary: var(--color-yellow-500, #d69e2e);
  --text-warning: var(--color-orange-500, #dd6b20);
  --text-error: var(--color-red-500, #e53e3e);
  --text-info: var(--color-cyan-500, #00b5d8);
  --border-color-danger: var(--color-red-500, #e53e3e);
  --border-color-success: var(--color-green-400, #48bb78);
  --border-color-primary: var(--color-blue-500, #3182ce);
  --border-color-secondary: var(--color-yellow-500, #d69e2e);
  --border-color-warning: var(--color-orange-500, #dd6b20);
  --border-color-error: var(--color-red-500, #e53e3e);
  --border-color-info: var(--color-cyan-500, #00b5d8);
  --border-color-transparent: var(--color-transparent, rgba(255, 255, 255, 0.00));
  --border-radius-none: 0;
  --border-radius-xs: var(--quarter-unit, 2);
  --border-radius-sm: var(--half-unit, 4);
  --border-radius-md: var(--unit, 8);
  --border-radius-lg: var(--unit-half, 12);
  --border-radius-full: 9999;
  --border-size-none: 0;
  --border-size-xs: 1;
  --border-size-ms: 2;
  --border-size-md: 3;
  --border-size-lg: 4;
  --spacing-1: 4;
  --spacing-2: 6;
  --spacing-3: 8;
  --spacing-4: 12;
  --components-button-primary: var(--color-blue-500, #3182ce);
  --components-button-primary-hover: var(--color-blue-600, #2b6cb0);
  --components-button-primary-focused: var(--color-blue-300, #63b3ed);
  --components-button-primary-pressed: var(--color-blue-700, #2c5282);
  --components-button-secondary: var(--color-yellow-500, #d69e2e);
  --components-button-secondary-hover: var(--color-yellow-600, #b7791f);
  --components-button-secondary-focused: var(--color-yellow-300, #f6e05e);
  --components-button-secondary-pressed: var(--color-yellow-700, #975a16);
}