:root {
  --surface-primary: var(--color-blue-500, #3182ce);
  --surface-secondary: var(--color-yellow-500, #d69e2e);
  --surface-tertiary: var(--color-gray-100, #edf2f7);
  --surface-neutral: var(--color-gray-100, #edf2f7);
  --surface-success: var(--color-green-400, #48bb78);
  --surface-warning: var(--color-orange-400, #ed8936);
  --surface-error: var(--color-red-500, #e53e3e);
  --surface-info: var(--color-cyan-500, #00b5d8);
  --text-danger: var(--color-red-500, #e53e3e);
  --text-success: var(--color-green-400, #48bb78);
  --text-primary: var(--color-blue-500, #3182ce);
  --text-secondary: var(--color-yellow-500, #d69e2e);
  --text-warning: var(--color-orange-500, #dd6b20);
  --text-error: var(--color-red-500, #e53e3e);
  --text-info: var(--color-cyan-500, #00b5d8);
  --border-color-danger: var(--color-red-500, #e53e3e);
  --border-color-success: var(--color-green-400, #48bb78);
  --border-color-primary: var(--color-blue-500, #3182ce);
  --border-color-secondary: var(--color-yellow-500, #d69e2e);
  --border-color-warning: var(--color-orange-500, #dd6b20);
  --border-color-error: var(--color-red-500, #e53e3e);
  --border-color-info: var(--color-cyan-500, #00b5d8);
  --border-color-transparent: var(--color-transparent, rgba(255, 255, 255, 0.00));
  --border-radius-none: 0px;
  --border-radius-xs: var(--quarter-unit, 2px);
  --border-radius-sm: var(--half-unit, 4px);
  --border-radius-md: var(--unit, 8px);
  --border-radius-lg: var(--unit-half, 12px);
  --border-radius-full: 9999px;
  --border-size-none: 0px;
  --border-size-xs: 1px;
  --border-size-ms: 2px;
  --border-size-md: 3px;
  --border-size-lg: 4px;
  --spacing-1: 4px;
  --spacing-2: 6px;
  --spacing-3: 8px;
  --spacing-4: 12px;
}