:root {
  --button-primary-surface: var(--surface-primary, #3182ce);
  --button-primary-text: var(--color-white, #ffffff);
  --button-secondary-surface: var(--surface-secondary, #d69e2e);
  --button-secondary-text: var(--color-white, #ffffff);
  --button-tertiary-surface: var(--color-gray-500, #718096);
  --button-neutral-surface: var(--surface-neutral, #edf2f7);
  --button-tertiary-text: var(--color-white, #ffffff);
  --button-success-surface: var(--surface-success, #48bb78);
  --button-neutral-text: var(--color-black, #000000);
  --button-warning-surface: var(--surface-warning, #ed8936);
  --button-warning-text: var(--color-white, #ffffff);
  --button-error-surface: var(--surface-error, #e53e3e);
  --button-error-text: var(--color-white, #ffffff);
  --button-info-surface: var(--surface-info, #00b5d8);
  --button-info-text: var(--color-white, #ffffff);
  --button-success-text: var(--color-white, #ffffff);
  --input-primary-surface: var(--surface-primary, #3182ce);
  --input-primary-borderColor: var(--surface-primary, #3182ce);
  --input-primary-text: var(--color-black, #000000);
  --input-secondary-surface: var(--surface-secondary, #d69e2e);
  --input-secondary-borderColor: var(--surface-secondary, #d69e2e);
  --input-tertiary-surface: var(--color-gray-500, #718096);
  --input-tertiary-borderColor: var(--color-gray-500, #718096);
  --input-secondary-text: var(--color-black, #000000);
  --input-neutral-surface: var(--surface-neutral, #edf2f7);
  --input-neutral-borderColor: var(--surface-neutral, #edf2f7);
  --input-tertiary-text: var(--color-black, #000000);
  --input-success-surface: var(--surface-success, #48bb78);
  --input-success-borderColor: var(--surface-success, #48bb78);
  --input-neutral-text: var(--color-black, #000000);
  --input-warning-surface: var(--surface-warning, #ed8936);
  --input-warning-borderColor: var(--surface-warning, #ed8936);
  --input-warning-text: var(--color-black, #000000);
  --input-error-surface: var(--surface-error, #e53e3e);
  --input-error-borderColor: var(--surface-error, #e53e3e);
  --input-error-text: var(--color-black, #000000);
  --input-info-surface: var(--surface-info, #00b5d8);
  --input-info-borderColor: var(--surface-info, #00b5d8);
  --input-info-text: var(--color-black, #000000);
  --input-success-text: var(--color-black, #000000);
}