:root {
  --font-family-title: Roboto;
  --font-family-body: Roboto;
  --font-weight-thin: 100;
  --font-weight-extra-ligth: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
  --font-size-xs: var(--unit-half, 12px);
  --font-size-sm: var(--unit-half-quarter, 14px);
  --font-size-md: var(--unit2, 16px);
  --font-size-lg: var(--unit2-quarter, 18px);
  --font-size-h6: var(--unit2-half, 20px);
  --font-size-h5: var(--unit3, 24px);
  --font-size-h4: var(--unit3-half, 28px);
  --font-size-h3: var(--unit4-half, 36px);
  --font-size-h2: var(--h2size, 39px);
  --font-size-h1: var(--unit6, 48px);
  --font-line-height-body: 0px;
  --font-line-height-heading: 0px;
}