:root {
  --surface-danger: #e53e3e;
  --surface-success: #48bb78;
  --surface-primary: #3182ce;
  --surface-secondary: #d69e2e;
  --surface-warning: #dd6b20;
  --surface-error: #e53e3e;
  --surface-info: #00b5d8;
  --surface-neutral: #edf2f7;
  --surface-transparent: rgba(255, 255, 255, 0.00);
  --text-danger: #e53e3e;
  --text-success: #48bb78;
  --text-primary: #3182ce;
  --text-secondary: #d69e2e;
  --text-warning: #dd6b20;
  --text-error: #e53e3e;
  --text-info: #00b5d8;
  --border-color-danger: #e53e3e;
  --border-color-success: #48bb78;
  --border-color-primary: #3182ce;
  --border-color-secondary: #d69e2e;
  --border-color-warning: #dd6b20;
  --border-color-error: #e53e3e;
  --border-color-info: #00b5d8;
  --border-color-transparent: rgba(255, 255, 255, 0.00);
  --border-radius-none: 0;
  --border-radius-xs: 2;
  --border-radius-sm: 4;
  --border-radius-md: 8;
  --border-radius-lg: 12;
  --border-radius-full: 9999;
  --border-size-none: 0;
  --border-size-xs: 1;
  --border-size-ms: 2;
  --border-size-md: 3;
  --border-size-lg: 4;
  --spacing-1: 4;
  --spacing-2: 6;
  --spacing-3: 8;
  --spacing-4: 12;
  --components-button-primary: #3182ce;
  --components-button-primary-hover: #2b6cb0;
  --components-button-primary-focused: #63b3ed;
  --components-button-primary-pressed: #2c5282;
  --components-button-secondary: #d69e2e;
  --components-button-secondary-hover: #b7791f;
  --components-button-secondary-focused: #f6e05e;
  --components-button-secondary-pressed: #975a16;
}