:root {
  --button-primary: #3182ce;
  --button-secondary: #d69e2e;
  --button-tertiary: rgba(255, 255, 255, 0.00);
  --button-neutral: #48bb78;
  --button-success: #48bb78;
  --button-error: #e53e3e;
  --button-info: #00b5d8;
}