:root {
  --font-family-title: "Roboto";
  --font-family-body: "Roboto";
  --font-weight-thin: "100";
  --font-weight-extra-ligth: "200";
  --font-weight-ligth: "300";
  --font-weight-regular: "400";
  --font-weight-medium: "500";
  --font-weight-semi-bold: "600";
  --font-weight-bold: "700";
  --font-weight-extra-bold: "800";
  --font-weight-black: "900";
  --font-size-xs: var(--unit-half, 12);
  --font-size-sm: var(--unit-half-quarter, 14);
  --font-size-md: var(--unit2, 16);
  --font-size-lg: var(--unit2-quarter, 18);
  --font-size-h6: var(--unit2-half, 20);
  --font-size-h5: var(--unit3, 24);
  --font-size-h4: var(--unit3-half, 28);
  --font-size-h3: var(--unit4-half, 36);
  --font-size-h2: var(--h2size, 39);
  --font-size-h1: var(--unit6, 48);
  --font-line-height-body: 0;
  --font-line-height-heading: 0;
}